#header {
  background: #fff;
  height: 65px;
  overflow: hiddent;
  border-bottom: 1px solid #ddd;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
::after, ::before {
  box-sizing: border-box;
}
#header .logo  {
  color: #1e5f8d;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: -.8px;
  font-weight: 500;
}
::after, ::before {
  box-sizing: border-box;
}
#header .logo strong span {
  color: #00a6eb;
}
.navigate ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  left: 375%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    
}
#one  {
  background: yellow;
  transition: .3s;
  padding: 0 10px;
  border: solid 1px yellow;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  color: black;
  display: flex;
  
}
#two {
  background: #00a6eb;
  border: solid 1px #00a6eb;
  color: #fff;
  font-size: 15px;
  padding: 0 16px;
  transition: .3s;
  padding: 0 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  text-decoration: none;
}
#three  {
  transition: .3s;
  padding: 0 10px;
  border: solid 1px pink;
  border-radius: 4px;
  color: black;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
  background: pink;
}
#pix {
  max-width: 100%;
  height: 50%;
}