
#header {
  background: #fff;
  height: 65px;
  overflow: hiddent;
  border-bottom: 1px solid #ddd;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: fixed;
}
::after, ::before {
  box-sizing: border-box;
}
#header .logo  {
  color: #1e5f8d;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: -.8px;
  font-weight: 500;
}

#header .logo strong span {
  color: #00a6eb;
}
.navigate ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
  left: 360%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    
}
#one  {
  background: yellow;
  transition: .3s;
  padding: 0 10px;
  border: solid 1px yellow;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  color: black;
  display: flex;
  
}
#two {
  background: #00a6eb;
  border: solid 1px #00a6eb;
  color: #fff;
  font-size: 15px;
  padding: 0 10px;
  transition: .3s;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  text-decoration: none;
}
#three  {
  transition: .3s;
  padding: 0 10px;
  border: solid 1px pink;
  border-radius: 4px;
  color: black;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
  background: pink;
}
.pix{
  max-width: 100%;
  height: 50%;
}
#header2 p{
  color: white;
  position: fixed;
  width: 100%;
  top: 6%;
  left: 0;
  background: transparent;
  transition: all 0.5s;
  z-index: 997;
  background: rgba(0, 0, 0, 0.9);
  height: 80px;
  align-items: center!important;
  display: flex!important;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;

}

.row{
  display: flex;
  background-color: black;
  color: white;
}
.column {
  width: 33.33%;
  padding: 10px;
  height: 300px; 
  
}

.about{
  background-color: white;
  color: black;
  text-align: center;
}
.copyright strong{
color: green;
}
.copyright{
  padding: 10px 0 30px 0;
  font-size: 14px;
  text-align: center;
  background-color: black;
}
.about h2{
  text-decoration: underline;
}